{% extends "layout.html" %}
{% import "helpers/tables.html" as tables %}
{% block title %}View entries{% endblock %}
{% block content %}
{{ super() }}

<style type="text/css">
	.timecard tr td{
		padding-right:30px;
	}
</style>

<script type="text/javascript">
function updateComment(e, elem){
	a = prompt("Enter a comment"); 
	$.ajax({
	type: "POST",
	url: "/timecards/{{user_id}}/" + e + "/updateComment",
	data: {"comment" : a },
	dataType: "json",
	success: function () {  elem.innerHTML = a; }
	});
}

function deleteComment(e, elem){
	$.ajax({
	type: "GET",
	url: "/timecards/{{user_id}}/" + e + "/deleteEntry",
	success: function () {  elem.parentNode.removeChild(elem) }
	});

}

function punchOut(e, elem){
	$.ajax({
	type: "GET",
	url: "/timecards/{{user_id}}/" + e + "/punchOut",
	success: function (r) {  elem.innerHTML = r; }
	});

}

</script>

{% for user in users %}
<h2>{{user.name}}</h2>
<table class="timecard">
	<tr>
		<td align='center'>Clock in time</td>
		<td align='center'>Clock out time</td>
		<td align='center'>Comments</td>
	</tr>
{% for t in user.entries %}
    <tr>
    	<td>{{t.punchIn}}</td>
    	<td>{{t.punchOut}}</td>
    	<td>{{t.punchOutComment}}</td>
    </tr>
{% endfor %}
{% endfor %}
</table>
{% endblock content %}